.emailRow {
  display: flex;
  align-items: center;
  height: auto;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;

  &:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(153, 151, 151, 0.14);
  }

  &__message {
    display: flex;
    align-items: center;
    flex: 0.7;
    cursor: pointer;
    font-size: 13px;

    & > h4 {
      width: 400px;
      color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px 5px;
    }

    span {
      padding-left: 5px;
      color: gray;
    }
  }

  &__description {
    display: flex;
    align-items: center;
  }

  &__title {
    cursor: pointer;
    font-size: 13px;
    flex: 0.2;
  }

  &__time {
    font-size: 9px;
    font-weight: bold;
  }
}
