.email {
  flex: 1;
  background-color: whitesmoke;

  &__tools {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  &__toolsLeft {
    display: flex;
  }

  &__toolsRight {
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    padding: 20px;
    height: 100vh;
    box-shadow: 0px 5px 7px 0px rgba(26, 26, 26, 0.44);
  }

  &__bodyHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;

    p {
      margin-left: 20px;
    }

    h2 {
      font-weight: 400;
      margin-right: 20px;
    }
  }

  &__important {
    color: #e8ab02 !important;
  }

  &__message {
    p {
      padding: 10px;
      margin-right: 20px;
      overflow-wrap: break-word;
    }
  }
  &__time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: gray;
  }
}
