.sendMail {
  position: absolute;
  bottom: 0;
  right: 50px;
  display: flex;
  flex-direction: column;
  background-color: #404040;
  width: 40%;
  height: 40%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);

  form {
    display: flex;
    flex: 1;
    flex-direction: column;

    input {
      height: 30px;
      padding: 10px;
      border: none;
      border-bottom: 1px solid whitesmoke;
      outline: none;
    }
  }

  &__header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;

    h3 {
      color: whitesmoke;
      font-size: 13px;
    }
  }

  &__send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
  }

  &__close {
    cursor: pointer;
  }

  &__options {
  }

  &__message {
    flex: 1;
  }

  &__error {
    //padding: 10px;
    //display: flex;
    position: absolute;
    padding-right: 10px;
    bottom: 0;
    right: 0;
    color: red;
    flex: 1;

    span {
      margin-left: 10px !important;
    }
  }
}
