.sideBar__option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: gray;

  &:hover,
  &:hover > p,
  &:hover > h3,
  &-active,
  &-active > p,
  &-active > h3 {
    background-color: #a1a0a0;
    color: #c04b37;
    font-weight: 800 !important;
  }

  p {
    display: none;
    font-weight: 300;
  }

  &:hover p {
    display: inline;
  }

  .sideBar__option-active > p {
    display: inline !important;
  }

  h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .MuiSvgIcon-root {
    padding: 5px;
  }
}
