.emailList {
  flex: 1;
  overflow: scroll;

  &__settings {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
  }

  &__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
  }

  &__list {
    padding-bottom: 20%;
  }
}

.emailList::-webkit-scrollbar {
  display: none;
}

.emailList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
