.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 0 15px;
  min-width: 200px;
  color: gray;
  cursor: pointer;
  border-width: 0 !important;

  &:hover {
    background-color: whitesmoke;
    border-width: 3px !important;
  }

  &--selected {
    background-color: whitesmoke;
    border-width: 3px !important;
  }

  & > h4 {
    font-size: 14px;
    margin-left: 15px;
  }
}
