.sideBar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;

  &__compose {
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: gray;
    padding: 5px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__options-container {
    border-bottom: 1px solid whitesmoke;
  }

  &__meet {
    border-bottom: 1px solid whitesmoke;
    h4 {
      color: gray;
      padding: 0 10px;
      font-size: 14px;
    }
  }

  &__chats {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

    &-recent {
      color: gray;
      font-size: 14px;
    }

    &-newChat {
      font-size: 14px;
      color: blue;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__chats-icon {
    width: 120px !important;
    height: 120px !important;
  }
}
