.login {
  display: grid;
  place-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;

    img {
      padding: 50px 0;
      object-fit: contain;
      height: 200px;
    }
  }
}
